## Settings file was created by plugin JudesEquipment v3.0.0
## Plugin GUID: GoldenJude_JudesEquipment

[Neutral metals]

## Makes all metals a neutral grey [Synced with Server]
# Setting type: Boolean
# Default value: false
Appearance = false

[Smooth textures]

## Removes pixelization filter on all textures, overrides color config [Synced with Server]
# Setting type: Boolean
# Default value: false
Appearance = false

