## Settings file was created by plugin Cats v0.3.5
## Plugin GUID: marlthon.Cats

[! Cat Attack 01]

## Weight of ! Cat Attack 01.
# Setting type: Single
# Default value: 1
Weight = 1

## Trader value of ! Cat Attack 01.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Durability of ! Cat Attack 01.
# Setting type: Single
# Default value: 100
Durability = 100

## Durability gain per level of ! Cat Attack 01.
# Setting type: Single
# Default value: 50
Durability per Level = 50

## Movement speed modifier of ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Movement Speed Modifier = 0

## Block armor of ! Cat Attack 01.
# Setting type: Single
# Default value: 10
Block Armor = 10

## Block armor per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Block Armor per Level = 0

## Block force of ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Block Force = 0

## Block force per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Block Force per Level = 0

## Parry bonus of ! Cat Attack 01.
# Setting type: Single
# Default value: 1.5
Parry Bonus = 1.5

## Knockback of ! Cat Attack 01.
# Setting type: Single
# Default value: 4
Knockback = 4

## Backstab bonus of ! Cat Attack 01.
# Setting type: Single
# Default value: 4
Backstab Bonus = 4

## Attack stamina of ! Cat Attack 01.
# Setting type: Single
# Default value: 5
Attack Stamina = 5

## True damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
True Damage = 0

## True damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
True Damage Per Level = 0

## Slash damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 14
Slash Damage = 14

## Slash damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 2
Slash Damage Per Level = 2

## Pierce damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Pierce Damage = 0

## Pierce damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Pierce Damage Per Level = 0

## Blunt damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Blunt Damage = 0

## Blunt damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Blunt Damage Per Level = 0

## Chop damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Chop Damage = 0

## Chop damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Chop Damage Per Level = 0

## Pickaxe damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Pickaxe Damage = 0

## Pickaxe damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Pickaxe Damage Per Level = 0

## Fire damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Fire Damage = 0

## Fire damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Fire Damage Per Level = 0

## Poison damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Poison Damage = 0

## Poison damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Poison Damage Per Level = 0

## Frost damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Frost Damage = 0

## Frost damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Frost Damage Per Level = 0

## Lightning damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Lightning Damage = 0

## Lightning damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Lightning Damage Per Level = 0

## Spirit damage dealt by ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Spirit Damage = 0

## Spirit damage dealt increase per level for ! Cat Attack 01.
# Setting type: Single
# Default value: 0
Spirit Damage Per Level = 0

[! Cat Attack 02]

## Weight of ! Cat Attack 02.
# Setting type: Single
# Default value: 1
Weight = 1

## Trader value of ! Cat Attack 02.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Durability of ! Cat Attack 02.
# Setting type: Single
# Default value: 100
Durability = 100

## Durability gain per level of ! Cat Attack 02.
# Setting type: Single
# Default value: 50
Durability per Level = 50

## Movement speed modifier of ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Movement Speed Modifier = 0

## Block armor of ! Cat Attack 02.
# Setting type: Single
# Default value: 10
Block Armor = 10

## Block armor per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Block Armor per Level = 0

## Block force of ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Block Force = 0

## Block force per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Block Force per Level = 0

## Parry bonus of ! Cat Attack 02.
# Setting type: Single
# Default value: 1.5
Parry Bonus = 1.5

## Knockback of ! Cat Attack 02.
# Setting type: Single
# Default value: 4
Knockback = 4

## Backstab bonus of ! Cat Attack 02.
# Setting type: Single
# Default value: 4
Backstab Bonus = 4

## Attack stamina of ! Cat Attack 02.
# Setting type: Single
# Default value: 5
Attack Stamina = 5

## True damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
True Damage = 0

## True damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
True Damage Per Level = 0

## Slash damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 14
Slash Damage = 14

## Slash damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 2
Slash Damage Per Level = 2

## Pierce damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Pierce Damage = 0

## Pierce damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Pierce Damage Per Level = 0

## Blunt damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Blunt Damage = 0

## Blunt damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Blunt Damage Per Level = 0

## Chop damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Chop Damage = 0

## Chop damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Chop Damage Per Level = 0

## Pickaxe damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Pickaxe Damage = 0

## Pickaxe damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Pickaxe Damage Per Level = 0

## Fire damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Fire Damage = 0

## Fire damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Fire Damage Per Level = 0

## Poison damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Poison Damage = 0

## Poison damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Poison Damage Per Level = 0

## Frost damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Frost Damage = 0

## Frost damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Frost Damage Per Level = 0

## Lightning damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Lightning Damage = 0

## Lightning damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Lightning Damage Per Level = 0

## Spirit damage dealt by ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Spirit Damage = 0

## Spirit damage dealt increase per level for ! Cat Attack 02.
# Setting type: Single
# Default value: 0
Spirit Damage Per Level = 0

[! Cat Attack 03]

## Weight of ! Cat Attack 03.
# Setting type: Single
# Default value: 1
Weight = 1

## Trader value of ! Cat Attack 03.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Durability of ! Cat Attack 03.
# Setting type: Single
# Default value: 100
Durability = 100

## Durability gain per level of ! Cat Attack 03.
# Setting type: Single
# Default value: 50
Durability per Level = 50

## Movement speed modifier of ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Movement Speed Modifier = 0

## Block armor of ! Cat Attack 03.
# Setting type: Single
# Default value: 10
Block Armor = 10

## Block armor per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Block Armor per Level = 0

## Block force of ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Block Force = 0

## Block force per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Block Force per Level = 0

## Parry bonus of ! Cat Attack 03.
# Setting type: Single
# Default value: 1.5
Parry Bonus = 1.5

## Knockback of ! Cat Attack 03.
# Setting type: Single
# Default value: 4
Knockback = 4

## Backstab bonus of ! Cat Attack 03.
# Setting type: Single
# Default value: 4
Backstab Bonus = 4

## Attack stamina of ! Cat Attack 03.
# Setting type: Single
# Default value: 5
Attack Stamina = 5

## True damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
True Damage = 0

## True damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
True Damage Per Level = 0

## Slash damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 14
Slash Damage = 14

## Slash damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 2
Slash Damage Per Level = 2

## Pierce damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Pierce Damage = 0

## Pierce damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Pierce Damage Per Level = 0

## Blunt damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Blunt Damage = 0

## Blunt damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Blunt Damage Per Level = 0

## Chop damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Chop Damage = 0

## Chop damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Chop Damage Per Level = 0

## Pickaxe damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Pickaxe Damage = 0

## Pickaxe damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Pickaxe Damage Per Level = 0

## Fire damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Fire Damage = 0

## Fire damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Fire Damage Per Level = 0

## Poison damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Poison Damage = 0

## Poison damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Poison Damage Per Level = 0

## Frost damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Frost Damage = 0

## Frost damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Frost Damage Per Level = 0

## Lightning damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Lightning Damage = 0

## Lightning damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Lightning Damage Per Level = 0

## Spirit damage dealt by ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Spirit Damage = 0

## Spirit damage dealt increase per level for ! Cat Attack 03.
# Setting type: Single
# Default value: 0
Spirit Damage Per Level = 0

[Abyssinian Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Bengal Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Black & White Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Black Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Blue Russian Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Cat Gift Box]

## Crafting station where Cat Gift Box is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, MeadCauldron, Forge, ArtisanTable, StoneCutter, MageTable, PrepTable, BlackForge, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft Cat Gift Box.
# Setting type: Int32
# Default value: 1
Crafting Station Level = 1

## Whether only one of the ingredients is needed to craft Cat Gift Box
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Cat Gift Box. Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Cat Gift Box
# Setting type: String
# Default value: Coins:80,LeatherScraps:2,Resin:2
Crafting Costs = Coins:80,LeatherScraps:2,Resin:2

## Cat Gift Box drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Cat Gift Box.
# Setting type: Single
# Default value: 1
Weight = 1

## Trader value of Cat Gift Box.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Which traders sell Cat Gift Box.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Cat Gift Box at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Cat Gift Box in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Cat Gift Box at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[General]

## Force Server Config [Synced with Server]
# Setting type: Boolean
# Default value: true
Force Server Config = true

[Gray Tabby Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Orange Tabby Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Siamese Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Spotted Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[Tabby & White Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

[White Cat]

## The items the creature consumes to get tame.
# Setting type: String
# Default value: DeerMeat, RawMeat, NeckTail, FishRaw
Food items = DeerMeat, RawMeat, NeckTail, FishRaw

## If the creature can have stars.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Can have stars = On

